.section-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  cursor: initial;
  top: 60px;
  right: 0;
  left: 0;
  background-color: white;
  min-height: 360px;
  max-height: 400px;
  padding: 10px 0;
}

.section-list a {
  font-weight: normal;
  margin: 10px 30px;
  color: black;
  width: fit-content;
  text-decoration: none;
}

.section-list a:hover {
  color: rgba(0, 0, 0, 0.514);
  font-weight: bold;
  cursor: pointer;
}
